---
interface Props {
  title: string
  description?: string
  otg?: string
}

const {
  title,
  description = 'Descubre y estrena lo último en tecnología a los mejores precios. Envíos gratis, garantía de 12 meses y garantía por satisfacción.',
  otg = 'otg.webp'
} = Astro.props

const pageTitle = `Shopping Fast - ${title}`
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>{pageTitle}</title>
  <link rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png' />
  <link rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png' />
  <link rel='icon' type='image/png' sizes='16x16' href='favicon-16x16.png' />
  <link rel='manifest' href='site.webmanifest' />
  <link rel='mask-icon' href='safari-pinned-tab.svg' color='#5bbad5' />
  <meta name='msapplication-TileColor' content='#131313' />
  <meta name='theme-color' content='#131313' />
  <meta name='description' content={description} />
  <meta property='og:type' content='website' />
  <meta property='og:title' content={pageTitle} />
  <meta property='og:description' content={description} />
  <meta property='og:image' content={otg} />
  <link
    href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'
    rel='stylesheet'
  />
</head>
